@model IAsyncEnumerable<RiverTransport>
@{
    ViewData["Title"] = "Главная страница";
}

<h1>Добро пожаловать в River Schedule</h1>

<p>На этом сайте вы можете создавать и управлять расписаниями речного транспорта.</p>

<h2>Доступный речной транспорт</h2>
<ul>
    @await foreach (var transport in Model)
    {
        <li>@transport.Name</li>
    }
</ul>

<h2>Навигация</h2>
<ul>
    <li><a asp-controller="Home" asp-action="Error">К речным транспортным средствам</a></li>
    <li><a asp-controller="RiverPort" asp-action="Index">К речным портам</a></li>
    <li><a asp-controller="Schedule" asp-action="Index">К расписанию</a></li>
</ul>