@model IAsyncEnumerable<Schedule>
@{
    ViewData["Title"] = "Главная";
}

<h1>Расписание</h1>

<table class="table">
    <thead>
        <tr>
            <th>Маршрут</th>
            <th>Время отправления</th>
            <th>Время прибытия</th>
            <th>Название судна</th>
        </tr>
    </thead>
    <tbody>
        @await foreach (var item in Model.OrderBy(x => x.DepartureTime))
        {
            <tr>
                <td>@item.RiverTransport.Route</td>
                <td>@item.DepartureTime.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@item.ArrivalTime.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@item.RiverTransport.Name</td>
            </tr>
        }
    </tbody>
</table>